*{
  margin: 0%;
  padding: 0%;
}

body{
  background: url('./assets/weather-background.jpg');
  min-height: 100vh;
  background-size: cover;
}

.container{
  border-radius: 20px;
}

section input{
  border-color: #000;
}